<p class="pull-right visible-xs">
    <button type="button" class="btn btn-secondary btn-xs" data-toggle="offcanvas">Toggle nav</button>
</p>
<div class="pull-left">
    <div class="dropdown btn-group">
        <button type="button" class="btn btn-primary btn-xs">View on default</button>
        <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-xs"><span
                    class="caret"></span></button>
        <ul class="dropdown-menu">
            <li>
                <a target="_blank" href="#">view on kinogo</a>
            </li>
            <li>
                <a target="_blank" href="#">view on ofx</a>
            </li>
            <li>
                <a target="_blank" href="#">view on my-hit</a>
            </li>
        </ul>
    </div>
</div>