<div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <a href="#" class="list-group-item">
            Link
            <span class="glyphicon glyphicon-trash right-aligned-icon to-trash"></span>
        </a>
        <a href="#" class="list-group-item">
            Link
            <span class="glyphicon glyphicon-trash right-aligned-icon to-trash"></span>
        </a>
        <a href="#" class="list-group-item">
            Link
            <span class="glyphicon glyphicon-trash right-aligned-icon to-trash"></span>
        </a>

        <a href="#" class="list-group-item">
            Add new item
            <span class="glyphicon glyphicon-plus right-aligned-icon add-new-item"></span>
        </a>
    </div>
</div>
