<!Doctype html>
<html>

<head>
    <% include ../parials/head.ejs %>
</head>

<body class="main-view">

<nav class="navbar navbar-inverse">
    <% include ../parials/header.ejs %>
</nav>

<div class="container-fluid container-offset">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-8">

            <% include ../parials/content_inside_navigation.ejs %>

            <div class="jumbotron">
                <h1>Шрек</h1>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/QZi6SQo7Gzs" frameborder="0"
                        allowfullscreen></iframe>

                <h3>Описание</h3>
                <p>
                    Жил да&nbsp;был в&nbsp;сказочном государстве большой зеленый великан по&nbsp;имени Шрек. Жил&nbsp;он
                    в&nbsp;гордом одиночестве в&nbsp;лесу, на&nbsp;болоте, которое считал своим. Но&nbsp;однажды злобный
                    коротышка&nbsp;—&nbsp;лорд Фаркуад, правитель волшебного королевства, безжалостно согнал на&nbsp;Шреково
                    болото всех сказочных обитателей.
                    <br>
                    <br>И беспечной жизни зеленого великана пришел конец. Но&nbsp;лорд Фаркуад пообещал вернуть Шреку
                    болото, если великан добудет ему&nbsp;прекрасную принцессу Фиону, которая томится в&nbsp;неприступной
                    башне, охраняемой огнедышащим драконом…
                </p>
                <a target="_blank" href="http://kinogo.club/936-shrek-2001.html">Прсмотреть онлайн</a>
            </div>
        </div>
        <!--navigation-->
        <% include ../parials/navbar.ejs %>
    </div>
</div>

<% include ../parials/footer.ejs %>

</body>

</html>
